In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([[x, x*x] for x in range(1,11)], columns=['number', 'square'])
df

   number  square
0       1       1
1       2       4
2       3       9
3       4      16
4       5      25
5       6      36
6       7      49
7       8      64
8       9      81
9      10     100

In [3]:
from Data_Analysis.Analysis_Functions import AnalyseDataframe

In [4]:
AnalyseDataframe(df)

1. Size of data:

(10, 2)

-----------------------------------------------------------------

2. Data Sample: Random 1 Rows
   number  square
7       8      64

-----------------------------------------------------------------

3. Data Types of Columns:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   number  10 non-null     int64
 1   square  10 non-null     int64
dtypes: int64(2)
memory usage: 292.0 bytes
None

-----------------------------------------------------------------

4. Column Names:
Index(['number', 'square'], dtype='object')

-----------------------------------------------------------------

5. Missing Values:

number    0
square    0
dtype: int64

-----------------------------------------------------------------

6. Mathematical Description of Data:

         number      square
count  10.00000   10.000000
mean    5.50000   38.500000
std     3.02765   34.173577
min     1.00000    1.000000
25%     3.25000   10.750000
50%     5.50000   30.500000
75%     7.75000   60.250000
max    10.00000  100.000000

-----------------------------------------------------------------

7. Duplicate Values:

0

-----------------------------------------------------------------

8. Correlation:

          number    square
number  1.000000  0.974559
square  0.974559  1.000000